@media(max-width: 990px) {

  /* startscreen */
  .h1-container {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 62px;
  }

  .sharkie-startscreen {
    width: 235px;
  }

  .start-btn {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .btn {
    font-size: 18px;
  }

  /* help section */
  h3 {
    font-size: 34px;
  }

  .help-description span {
    font-size: 18px;
    text-align: center;
  }

  .help-headline {
    margin-bottom: 18px;
    margin-top: 18px;
  }

  .help-row {
    height: 110px;
  }

  h4 {
    font-size: 24px;
  }

  .key {
    width: 48px;
    height: 48px;
  }

  .key-letter {
    font-size: 24px;
  }

  .key-img {
    width: 40px;
    height: 40px;
  }

  .space {
    height: 50px;
    width: 200px;
  }

  .sharkie-preview {
    width: 110px;
  }

  .sharkie-attack-preview {
    width: 135px;
  }

  .enemy-preview {
    width: 125px;
  }

  .coin {
    width: 45px;
  }

  .poison {
    width: 27px;
  }

  /* endscreens */
  .headline-container {
    margin-bottom: 24px;
  }

  .sharkie-win {
    top: -82%;
    left: -29%;
    width: 110px;
  }
}

@media(max-width: 800px) {

  /* help section */
  .help-row {
    justify-content: center;
  }

  .help-child {
    margin-left: 12px;
    margin-right: 12px;
  }

  .help-child h4 {
    margin-left: 12px;
    font-size: 22px;
  }

  .sharkie-preview {
    margin-left: 12px;
  }

  .sharkie-attack-preview {
    margin-left: 12px;
  }

  .collectible-element {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media(max-width: 700px) {

  /* help section */
  .help-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .help-child h4 {
    font-size: 20px;
  }

  .sharkie-preview {
    width: 90px;
  }

  .sharkie-attack-preview {
    width: 110px;
  }

  .enemy-preview {
    width: 100px;
  }

  .key {
    width: 40px;
    height: 40px;
  }

  .key-letter {
    font-size: 22px;
  }

  .key-img {
    width: 30px;
    height: 30px;
  }

  .space {
    height: 42px;
    width: 175px;
  }
}

@media(max-width: 600px) {

  /* startscreen */
  h1 {
    font-size: 52px;
  }

  .sharkie-startscreen {
    width: 195px;
  }

  .start-btn {
    font-size: 20px;
    margin-bottom: 32px;
    padding: 8px 32px;
    border: 4px solid white;
    outline: 4px solid;
    outline-offset: -4px;
    border-radius: 12px;
  }

  .btn {
    font-size: 16px;
    padding: 6px 22px;
    border: 4px solid white;
    border-radius: 12px;
  }

  /* help section */
  .help-row {
    height: 85px;
  }

  .help-child {
    margin-left: 8px;
    margin-right: 8px;
  }

  .help-section {
    padding-left: 12px;
    padding-right: 12px;
  }

  .help-child h4 {
    font-size: 18px;
  }

  .sharkie-preview {
    width: 80px;
  }

  .sharkie-attack-preview {
    width: 100px;
  }

  .enemy-preview {
    width: 90px;
  }

  .key {
    width: 36px;
    height: 36px;
    border: 4px solid white;
  }

  .key-letter {
    font-size: 20px;
  }

  .key-img {
    width: 28px;
    height: 28px;
  }

  .space {
    height: 36px;
    width: 160px;
  }

  .collectible-element {
    height: 85px;
  }

  .collectible-element span {
    margin-left: 12px;
  }

  /* endscreens */
  h2 {
    font-size: 52px;
  }

  .sharkie-game-over {
    width: 185px;
    top: -237%;
    left: -45%;
  }

  .sharkie-win {
    top: -73%;
    left: -27%;
    width: 85px;
  }

  .coin-info {
    font-size: 18px;
  }
}

@media(max-width: 500px) {

  /* help section */
  .help-row {
    height: unset;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .enemy-preview {
    margin-top: 24px;
    width: 110px;
  }

  .help-child h4 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .collectible-element span {
    height: unset;
  }
}

@media(max-width: 420px) {

  /* startscreen */
  h1 {
    font-size: 48px;
  }

  .sharkie-startscreen {
    width: 165px;
    top: -212%;
    left: -60%;

  }

  .start-btn {
    padding: 7px 28px;
  }

  .btn {
    padding: 5px 20px;
  }

  /* help section */
  h3 {
    font-size: 26px;
  }

  .help-child h4 {
    font-size: 16px;
    margin-left: 8px;
  }

  .help-description span {
    font-size: 16px;
  }

  .sharkie-preview {
    width: 65px;
    margin-left: 8px;
  }

  .sharkie-attack-preview {
    margin-left: 8px;
    width: 75px;
  }

  .enemy-preview {
    width: 105px;
  }

  .key {
    width: 32px;
    height: 32px;
    border: 4px solid white;
    border-radius: 12px;
  }

  .key-letter {
    font-size: 18px;
  }

  .key-img {
    width: 24px;
    height: 24px;
  }

  .space {
    height: 32px;
    width: 132px;
    border-radius: 12px;
  }

  .collectible-element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .collectible-element span {
    font-size: 16px;
    margin-left: 0;
    margin-top: 6px;
  }

  .poison {
    padding-bottom: 0;
  }

  /* endscreens */
  h2 {
    font-size: 48px;
  }

  .sharkie-game-over {
    width: 155px;
    top: -214%;
    left: -41%;
  }

  .sharkie-win {
    top: -58%;
    left: -25%;
    width: 70px;
  }
}

@media(max-width: 350px) {
  /* help section */

  .help-child h4 {
    font-size: 14px;

  }

  .collectible-element span {
    font-size: 14px;
  }
}

@media(max-width: 330px) {

  /* startscreen */
  .sharkie-startscreen {
    width: 145px;
    top: -175%;
    left: -56%;
  }

  /* help section */
  .help-child h4 {
    display: none;
  }

  /* endscreens */
  .sharkie-game-over {
    width: 135px;
    top: -185%;
    left: -35%;
  }

  .sharkie-win {
    top: -58%;
    left: -25%;
    width: 70px;
  }
}

@media(max-width: 320px) {

  /* startscreen */
  .sharkie-startscreen {
    width: 125px;
    top: -159%;
    left: -42%;
  }

  /* endscreens */
  .sharkie-game-over {
    width: 115px;
    top: -156%;
    left: -30%;
  }

  .sharkie-win {
    top: -41%;
    left: -20%;
    width: 55px;
  }
}

@media(max-width: 300px) {

  /* startscreen */
  #startscreen-animation {
    width: 80vw !important;
  }


}

@media(max-width: 285px) {

  /* startscreen */
  #startscreen-animation {
    width: 65vw !important;
  }

  .sharkie-startscreen {
    display: none;
  }

  /* endscreens */
  .sharkie-game-over {
    display: none;
  }

  .sharkie-win {
    display: none;
  }

  .coin-info {
    font-size: 16px;
  }
}