* {
    font-family: 'Luckiest Guy', cursive;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, #710da7, #2013df);
    overflow: hidden;
}

canvas {
    box-shadow: 1px 2px 13px -2px rgb(0 0 0 / 50%);
    animation: zoomIn 600ms ease-in-out;
    background-image: url('./img/3_background/legacy/dark/preview.png');
}

h1 {
    font-size: 80px;
    color: white;
    font-weight: 600;
}

.d-none {
    display: none;
}

.startscreen {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: opacity 225ms ease-in-out;
}

.btn-xl {
    display: flex;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background: #2e057c;
    border-radius: 16px;
    outline: 5px solid;
    outline-color: rgba(255, 255, 255, 1);
    outline-offset: -5px;
    transition: all 1100ms cubic-bezier(0.2, 1, 0.22, 1);
    border-width: 0;
    border: 5px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}

.btn-xl:hover {
    background: #3c079e;
}

.btn-xl:focus {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
    border: 5px solid rgba(255, 255, 255, 1);
    background: #2e057c;
}



#game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 720px;
}

.gamescreen-headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

#gamescreen-headline {
    display: none;
    animation: opacity 225ms ease-in-out;
}

#gamescreen-description {
    display: none;
    animation: opacity 225ms ease-in-out;
}


@keyframes opacity {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
