body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, #710da7, #2013df);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}



canvas {
    background-color: black;
    box-shadow: 1px 2px 13px -2px rgb(0 0 0 / 50%);
}